extends layout

block content
  p #{device_id}
  form(method="post", action="#{action}")
    | !{deviceform.toHTML()}
    input.btn(type="submit")

  #streams
    if locals.device
      for stream in device.streams
        .row-fluid.hydra-subform
          .span12
            .load-html(data-stream="#{stream}")
      .row-fluid.hydra-subform
        .span12
          .load-html(data-stream="new")       
      

block append footer-scripts
  script
    loadStreamHtml('#{device_id}');

    