for device in devicelist
  .row-fluid
    .span3
      .btn-group
        a.btn.btn-primary(href="#{device._id}/")
          i.icon-tag.icon-white
          |  #{device.name}
        a.btn.btn-primary.dropdown-toggle(data-toggle="dropdown", href="#")
          span.caret
        ul.dropdown-menu
          li  
            a(href="#{device._id}?action=delete", title="Radera")
              i.icon-trash 
              |  Radera
          li
            a(href="#{device._id}/", title="Redigera")
              i.icon-cog
              |  Redigera
    .span7=device.description
  .row-fluid
    .span12
      table.table.table-condensed.table-bordered.table-hover
        tr
          th Name
          th Current Value
          th Raw Value
          th Unit
          th Status
          th Last Value
          th id
          for stream in device.streams
            tr
              td.data-name=stream.name
              td=stream.cv
              td=stream.raw
              td=stream.unit
              td=stream.status
              td=usertime(stream.last_cv)
              td.data-id=stream._id