extends layout


block content
  a(href="./new").btn +
  table.table.table-striped.table-condensed
    th Device
    th Beskrivning
    for device in devicelist
      tr
        td
          .btn-group
            a.btn.btn-primary(href="#{device._id}/")
              i.icon-tag.icon-white
              |  #{device.name}
            a.btn.btn-primary.dropdown-toggle(data-toggle="dropdown", href="#")
              span.caret
            ul.dropdown-menu
              li  
                a(href="#{device._id}/delete", title="Radera")
                  i.icon-trash 
                  |  Radera
              li
                a(href="#{device._id}/", title="Redigera")
                  i.icon-cog
                  |  Redigera
        td=device.description
      tr
        td(colspan="3")
          for stream in device.datastreams
            .row-fluid
              .span2=stream.name
              .span2=stream.cv
            
